* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.logo {
  color: white;
  font-size: 32px;
}

.container main {
  width: 100%;
  display: flex;
}

aside {
  width: 20%;
  height: 100vh;
  position: relative;
  background-color: #202020;
  color: white;
  padding: 25px;
  box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.menu-lateral {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  gap: 40px;
  list-style: none;
  font-family: "Montserrat", sans-serif;
}

.item-menu {
  transition: transform 0.3s ease;
}

.item-menu:hover {
  opacity: 50%;
  transform: scale(1.05);
}

.item-menu a {
  text-decoration: none;
  color: white;
  display: flex;
  gap: 20px;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #9198e5;
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-track {
  background-color: #202020;
}

.bubble {
  position: absolute;
  bottom: -100px;
  border-radius: 50%;
  opacity: 0.2;
  background: white;
  animation: float 25s linear infinite;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
    opacity: 0.2;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    transform: translateY(-110vh) scale(1.2);
    opacity: 0;
  }
}

.conteudo {
  width: 80%;
  background: linear-gradient(135deg, rgb(80, 14, 202), #9198e5);
  padding: 20px;
  color: white;
  position: relative;
}

.conteudo-titulos {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 2 colunas na primeira linha */
  grid-template-rows: auto auto; /* 2 linhas, uma para cada conjunto de cards */
  gap: 20px;
  padding: 20px;
  width: 90%;
  max-width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.card {
  background-color: #202020;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease;
  z-index: 50;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:nth-child(4) {
  grid-column: span 3;
}

.card:hover {
  transform: translateY(-10px);
}

.campo-texto {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 2px solid #ddd;
  border-radius: 8px;
  outline: none;
  transition: all 0.3s ease;
  background-color: #fff;
  color: #333;
  font-family: "Montserat", sans-serif;
}

.botao-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: 10px;
}

.botao {
  padding: 12px;
  color: white;
  font-family: "Poppins", sans-serif;
  background-color: rgb(80, 14, 202);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao:hover {
  background-color: rgb(97, 41, 199);
}

.relogio-pomodoro {
  font-size: 60px;
}

.rodape {
  width: 100%;
  height: 200px;
  padding: 20px;
  background-color: rgb(80, 14, 202);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
